.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    margin: 0 auto; 
    height: 80vh;
    background-color: rgba(128, 128, 128, 0.582);
    color: aliceblue;
  }
  
  .container p {
    width: 45%; 
    margin: 0; 
    line-height: 1.5; 
    font-size: 21px;
    font-family: cursive;
  }
  