<div class="container">
    <div class="content">
        <div class="logo"><i class="pi pi-hammer"></i>Domestic</div>
        <a class="menu-item home" [routerLink]="['/home']"><i class="pi pi-home"></i>Home</a>
        <a class="menu-item sobre" [routerLink]="['/sobre']">Sobre</a>
        <a class="menu-item loc" [routerLink]="['/localizacao']">Localização</a>
        <a class="menu-item dif" [routerLink]="['/diferenciais']">Diferenciais</a>
        <div class="menu-item">|</div>
        <a class="menu-item cad" [routerLink]="['/login']"><i class="pi pi-user"></i>Área de Cadastro</a>
    </div>
</div>
