<app-menu></app-menu>

<div class="container">
    <div class="content">
        <h1>LOGIN</h1>
        <div class="user">
            <input type="text" placeholder="Usuário">
        </div>
        <div class="senha">
            <input type="password" placeholder="Senha">
        </div>
        <div class="cadastrar">
            <p>Ainda não possui conta? <a [routerLink]="['/opcao-cadastro']">Cadastre-se</a></p>
            <input type="submit" value="Cadastrar">
        </div>
    </div>
</div>

<app-footer></app-footer>